<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>HTML</title>
    @*<link href="~/css/HTML.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
        <link href="~/css/Img/Buttons.css" rel="stylesheet" />*@
    <link href="~/css/FreeCourses.css" rel="stylesheet" />
    <link href="~/css/buttons.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    </head>
    <body>
        <div class="wrapper">
            <div class="sidebar">
                <h2>Welcome </h2>
                <h2>HTML Course</h2>
                <ul>
                    <li><a asp-action="HTML1" target="_blank">HTML Introduction</a></li>
                    <li> <a asp-action="HTML2" target="_parent">HTML Attributes</a></li>
                    <li><a asp-action="HTML3" target="_parent">HTML Forms</a></li>
                    <li><a asp-action="HTML4" target="_parent">HTML Styling</a></li>
                    <li><a asp-controller="Quiz" asp-action="Index" target="_blank">Quiz</a></li>
                    <li><a asp-controller="Feedbacks" asp-action="Create" target="_blank">Feedback</a></li>
                </ul>

            </div>
            <div class="main_content">
                <div class="info">
                    <div class="buttons">
                        <a asp-action="HTML1" target="_parent" class="previous">&laquo; Previous</a>
                        <a asp-action="HTML3" target="_parent" class="next">Next &raquo;</a>
                    </div>
                    @*<h2 style="text-align:center;"><b>HTML Attributes</b></h2>*@

                    <h2 style="text-align:center;"><b>Welcome to HTML Course</b></h2>
                    <hr />
                    <p>HTML attributes provide additional information about HTML elements.</p>
                    <h4>HTML Attributes</h4>
                    <ul>
                        <li>1.All HTML elements can have attributes</li>
                        <li>2.Attributes provide additional information about elements</li>
                        <li>3.HTML describes the structure of a Web page</li>
                        <li>4.Attributes are always specified in the start tag</li>
                        <li>5.Attributes usually come in name/value pairs like: name="value"</li>
                    </ul>
                    <h3>The href attribute</h3>
                    <p>The &lt;a&gt; tag defines a hyperlink. The href attribute specifies the URL of the page the link goes to:</p>
                    <h3>Types HTML Attributes</h3>
                    <ul>
                        <li>1.The href attribute of a specifies the URL of the page the link goes to</li>
                        <li>2.The src attribute of img specifies the path to the image to be displayed</li>
                        <li>3.The alt attribute of img provides an alternate text for an image</li>
                        <li>4.The style attribute is used to add styles to an element, such as color, font, size, and more</li>
                        <li>5.The lang attribute of the html tag declares the language of the Web page</li>
                    </ul>
                    <div class="buttons">
                        <a asp-action="HTML1" target="_parent" class="previous">&laquo; Previous</a>
                        <a asp-action="HTML3" target="_parent" class="next">Next &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>