<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>HTML</title>
    @*<link href="~/css/HTML.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
        <link href="~/css/Img/Buttons.css" rel="stylesheet" />*@
    <link href="~/css/FreeCourses.css" rel="stylesheet" />
    <link href="~/css/buttons.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
          
            <h2>Javascript Course</h2>
            <ul>
                <li><a asp-action="JS1" target="_blank">Javascript Introduction</a></li>
                <li> <a asp-action="JS2" target="_parent">Javascript Datatypes</a></li>
                <li><a asp-action="JS3" target="_parent">Javascript Events</a></li>
                <li><a asp-action="JS4" target="_parent">HTML Arrays</a></li>
                <li><a asp-controller="Quiz" asp-action="Index" target="_blank">Quiz</a></li>
                <li><a asp-controller="Feedbacks" asp-action="Create" target="_blank">Feedback</a></li>
            </ul>

        </div>
        <div class="main_content">
            <div class="info">
                <div class="buttons">
                    <a asp-action="JS2" target="_parent" class="previous">&laquo; Previous</a>
                    <a asp-action="JS4" target="_parent" class="next">Next &raquo;</a>
                </div>
                <h2 style="text-align:center"><b>Javascript Events</b></h2>
                <hr/>

                <p>
                    HTML events are <b>"things"</b> that happen to HTML elements.
                    When JavaScript is used in HTML pages, JavaScript can <b>"react"</b> on these events.
                </p>
                <h3>HTML Events</h3>
                <p>An HTML event can be something the browser does, or something a user does.</p>
                <p>Here are some examples of HTML events:</p>
                <ul>
                    <li>An HTML web page has finished loading</li>
                    <li>An HTML input field was changed</li>
                    <li>An HTML button was clicked</li>
                </ul>
                <p>
                    Often, when events happen, you may want to do something.
                    JavaScript lets you execute code when events are detected.
                    HTML allows event handler attributes, with JavaScript code, to be added to HTML elements.
                </p>
                <p>With single quotes:  &lt;element event='some JavaScript'&gt;</p>
                <p>With double quotes:  &lt;element event="some JavaScript"&gt;</p>

                <div class="buttons">
                    <a asp-action="JS2" target="_parent" class="previous">&laquo; Previous</a>
                    <a asp-action="JS4" target="_parent" class="next">Next &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>