<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="StyleSheet1.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @* <link href="~/css/Index.css" rel="stylesheet" />*@
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/PaidCourses.css" rel="stylesheet" />
    <title>Product</title>
</head>
<body>
    <section id="paidcourses">
        <h2 style="text-align:center">Welcome to Paid Courses</h2><br/><br/>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="~/css/Images/Basic.JPG" />

                        <div class="card-body">
                            <h3>Basic Courses</h3>
                            <p style="font-size:20px;">Start learning HTML and CSS with the E-learning Basic Subscription. HTML and CSS are languages for creating a web page </p>
                            <div>
                                <span>$199</span>
                                <span class="buttons" style=" background-color: #00B894; color: black; float: right; border-radius: 10px; text-decoration: none; display: inline-block; padding: 5px 8px;">
                                    <a asp-action="LCreate" asp-controller="Logins" target="_self" class="enroll" style=" color: white;">Enroll Now &raquo;</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="~/css/Images/Standard.JPG" />
                        <div class="card-body">
                            <h3>Standard Courses</h3>
                            <p style="font-size:20px;">Start learning HTML, CSS, Javascript, Python with the E-learning Standard Subscription. These course will make you pro in all the four languages.</p>
                            <div>
                                <span>$399</span>
                                <span class="buttons" style=" background-color: #00B894; color: black; float: right; border-radius: 10px; text-decoration: none; display: inline-block; padding: 5px 8px;">
                                    <a asp-action="LCreate" asp-controller="Logins" target="_self" class="enroll" style=" color: white;">Enroll Now &raquo;</a>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="~/css/Images/Premium.JPG" />
                        <div class="card-body">
                            <h3>Premium Courses</h3>
                            <p style="font-size:20px;">Start learning HTML, CSS, Javascript, C#, Java and Python with the E-learning Premium Subscription. 3 front end and 3 back end languages you will learn in this course.</p>
                            <div>
                                <span>$599</span>
                                <span class="buttons" style=" background-color: #00B894; color: black; float: right; border-radius: 10px; text-decoration: none; display: inline-block; padding: 5px 8px;">
                                    <a asp-action="LCreate" asp-controller="Logins" target="_self" class="enroll" style=" color: white;">Enroll Now &raquo;</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>