<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instructions</title>
    <link href="~/css/app.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body style="background-color :darkkhaki">
    @*<header id="header">
        <a href="#" class="logo"><img src="images/logo.png" alt=""></a>
        <nav>
            <ul>
                <li><a href="#home">home</a></li>
            </ul>
        </nav>
    </header>*@
    <div style="margin-top:200px">
        <h1 style="text-align: center; font-family: monospace;"> INSTRUCTIONS </h1>
        <div class="instruction">
            <ul class="instruction">
                <li> There are a total of 5 questions </li>
                <li> Each question is compulsory </li>
                <li> Every question has 4 options </li>
                <li> 10 points for Correct answer </li>
                <li> ....... </li>
                <li style="font: fantasy; color: crimson;"><b> >> ALL THE BEST << </b></li>
            </ul>
            <br>

            <a style="margin-left:27%;background-color: chocolate;" class="qbtn" href="@Url.Action("StartQuiz", "Quiz")" target="_self"> Start </a>
        </div>
    </div>
</body>
</html>
